.book_card {
  height: 36em;
  width: 24em;
  background-color: #d0c1fe;
  color: #ffffff;
  text-align: center;
  padding: 1em;
  margin: 2em;
  border-radius: 10px;
  &:hover {
    // WIP
    // transition: 0.3s;
    // transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

img {
  height: 28em;
  width: 22em;
}

.main_details {
  height: 7em;
  display: inline-block;
  justify-content: center;
  align-content: center;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
}

.authors {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
