.book_card {
  height: 28em;
  width: 20em;
  border: solid 1px black;
  text-align: center;
  margin: 2em;
}

img {
  height: 15em;
  width: 15em;
  padding: 1em;
}

.main_details {
  height: 10em;
  display: inline-block;
  justify-content: center;
  align-content: center;
}
